{% extends "authority_base/authority_base.html" %}

{% load static %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3">
                  <p class="mb-2">Total Employee</p>
                  <h6 class="mb-0 text-white"> {{total_employee}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3">
                  <p class="mb-2">Present Today</p>
                  <h6 class="mb-0 text-white"> {{attend_today}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3 text-white">
                  <p class="mb-2">Absence Today</p>
                  <h6 class="mb-0 text-white"> {{absence_today}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3 text-white">
                  <p class="mb-2">Leave Today</p>
                  <h6 class="mb-0 text-white"> {{total_leave}} </h6>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock body %}
  