{% extends "authority_base/authority_base.html" %}

{% load static %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3">
                  <p class="mb-2">Total Employee</p>
                  <h6 class="mb-0 text-white"> {{total_employee}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3">
                  <p class="mb-2">Present Today</p>
                  <h6 class="mb-0 text-white"> {{attend_today}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3 text-white">
                  <p class="mb-2">Absence Today</p>
                  <h6 class="mb-0 text-white"> {{absence_today}} </h6>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-xl-3">
          <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa-solid fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3 text-white">
                  <p class="mb-2">Leave Today</p>
                  <h6 class="mb-0 text-white"> {{total_leave}} </h6>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Leave Application</h6>
                </div>
                {% if leave_applications %}
                    
                    {% for application in leave_applications %}
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{{application.application_of.profile.photo.url}}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">{{application.application_of.profile.first_name}} {{application.application_of.profile.last_name}}</h6>
                                    <small> <a href="{% url 'authority:leave_application_details' application.id %}">View Details</a></small>
                                </div>
                                <span> {{application.leave_description |slice:":20"}} </span>
                            </div>
                        </div>
                    {% endfor %}
        
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                </div>
                <div id="calender"></div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Widgets End -->

{% endblock body %}
  