{% extends 'authority_base/authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    {% if updated %}
        <form method='POST'> {% csrf_token %}
            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1" class="form-label">Festival</label>
                    {{form.festival_name | add_class:"form-control"}}
                </div>
                <div class="col mb-3">
                    <label for="exampleInputEmail1" class="form-label">Bonus (%) </label>
                    {{form.bonus_percentage | add_class:"form-select"}}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mx-auto">
              <a class="btn btn-success" href="{% url 'authority:festival_bonus' %}" role="button"> <i class="fa-solid fa-arrow-left me-2"></i> Back</a>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>  
        </form>
    {% elif deleted %}
    <div class="row">
      <div class="col-md-4">
          <h6 class="mb-4">Festival Bonus</h6>
      </div>
      <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
          <a class="btn btn-sm btn-primary" href="{% url 'authority:festival_bonus' %}"><i class="fa-solid fa-arrow-left me-2"></i> Back</a> 
      </div>
  </div>
   
       <!-- Table Start -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover ">
          <thead>
              <tr>
                <th scope="col">Sl</th>
                <th scope="col">Name</th>
                <th scope="col">Bonuse Rate(%)</th>
                <th scope="col">Updated at</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody> 
              {% if festival %} 
                  <tr>
                      <th scope="row">1</th>
                      <td> {{festival.festival_name}} </td>
                      <td> {{festival.bonus_percentage}} </td>
                      <td>{{festival.modified_at}}</td>
                      <td>
                        <div id="deleteForm">
                          <form action="" method='POST'> {% csrf_token %}
                              <button class="btn btn-sm btn-danger" type='submit' id="deleteTask">Delete</button>
                          </form>
                      </div> 
                      </td>
                    </tr>     
              {% endif %}     
        </table>
      </div>
      <!-- Table End --> 
    
    {% else %}
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Festival List</h6>
        </div>
        <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-plus"></i>
               Add Festival
              </button>
        </div>
      </div>
    
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Name</th>
              <th scope="col">Bonuse Rate(%)</th>
              <th scope="col">Updated at</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if festivals %} 
                {% for festival in festivals %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{festival.festival_name}} </td>
                    <td> {{festival.bonus_percentage}} </td>
                    <td>{{festival.modified_at}}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="{% url 'authority:update_festival' festival.id %}" role="button"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'authority:delete_festival' festival.id %}" role="button"><i class="fa-solid fa-trash me-2"></i>Delete</a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}     
      </table>
</div>
{% endif %}
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Festival Bonus</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST"> {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Festival Name</label>
                        {{form.festival_name |add_class:"form-control"}}
                    </div>
                    <div class="col">
                      <label for="exampleInputEmail1" class="form-label">Bonus Rate (%)</label>
                        {{form.bonus_percentage |add_class:"form-control"}}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  

  <script>
    var deleteTask = document.getElementById("deleteTask");
    var deleteForm = document.getElementById("deleteForm");

    deleteTask.addEventListener("click", function(event) {
    var result = confirm("Are you sure you want delete?");
    if (result) {
        alert('Deleted successfully');
    } else {
        alert('Deletion Cancelled');
        event.preventDefault(); // prevent default form submission
    }
    });

    deleteForm.addEventListener("submit", function(event) {
    {% comment %} event.preventDefault(); // prevent default form submission {% endcomment %}
    });
 
                
</script>
{% endblock body %}
    