{% extends 'authority_base/authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    {% if updated %}
        <form method='POST'> {% csrf_token %}
            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1" class="form-label">Month</label>
                    {{form.month | add_class:"form-select"}}
                </div>
                <div class="col mb-3">
                    <label for="exampleInputEmail1" class="form-label">Year</label>
                    {{form.year | add_class:"form-select"}}
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1" class="form-label">From Date</label>
                    {{form.from_date | add_class:"form-control"}}
                </div>
                <div class="col mb-3">
                    <label for="exampleInputEmail1" class="form-label">To Date</label>
                    {{form.to_date | add_class:"form-control"}}
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mx-auto">
                <a class="btn btn-primary" href="{% url 'authority:add_payrollmonth' %}" role="button"> <i class="fa-solid fa-arrow-left me-2"></i> Back</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    {% elif deleted %}
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Delete Payroll Month</h6>
        </div>
        <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
            <a class="btn btn-sm btn-primary" href="{% url 'authority:add_payrollmonth' %}"><i class="fa-solid fa-arrow-left me-2"></i> Back</a> 
        </div>
    </div>
     
        {% if month %}
         <!-- Table Start -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead class="table-dark">
                    <tr>
                      <th scope="col">Sl</th>
                      <th scope="col">Month</th>
                      <th scope="col">Year</th>
                      <th scope="col">From Date</th>
                      <th scope="col">To Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody> 
                    {% if month %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td> {{month.month}} </td>
                            <td> {{month.year}} </td>
                            <td>{{month.from_date}}</td>
                            <td>{{month.to_date}}</td>
                            <td>
                                <div id="deleteForm">
                                    <form action="" method='POST'> {% csrf_token %}
                                        <button class="btn btn-sm btn-danger" type='submit' id="deleteTask">Delete</button>
                                    </form>
                                </div> 
                            </td>
                          </tr>    
                    {% endif %}     
              </table>
            </div>
        {% endif %}
<!-- Table End --> 

    
    {% else %}
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Salary Month</h6>
        </div>
        <div class="col-md-4 offset-md-4 d-flex flex-row-reverse mb-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i>
               Add Month
              </button>
        </div>
    </div>

      <div class="col-md-6 mb-4">
        <form class="d-flex">
            <div class="row">
                <div class="col ">
                    {{months.form.month | add_class:"form-select" }}
                </div>
                <div class="col mb-3">
                    {{months.form.year | add_class:"form-select"}}
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <button class="btn btn-primary ms-2" type="submit">Search</button>
                </div>
            </div>
        </form>
      </div>
    
    <table class="table table-bordered table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Month</th>
              <th scope="col">Year</th>
              <th scope="col">From Date</th>
              <th scope="col">To Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if months %} 
                {% for month in months.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{month.month}} </td>
                    <td> {{month.year}} </td>
                    <td>{{month.from_date}}</td>
                    <td>{{month.to_date}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'authority:update_payrollmonth' month.id %}" role="button"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'authority:delete_payrollmonth' month.id %}" role="button"><i class="fa-solid fa-trash me-2"></i>Delete</a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}     
      </table>
</div>
{% endif %}
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Payroll Month</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST"> {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Month</label>
                        {{form.month |add_class:"form-select"}}
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Year</label>
                        {{form.year |add_class:"form-select"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">From Date</label>
                        {{form.from_date |add_class:"form-control"}}
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">To Date</label>
                        {{form.to_date |add_class:"form-control"}}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <script>
    var deleteTask = document.getElementById("deleteTask");
    var deleteForm = document.getElementById("deleteForm");

    deleteTask.addEventListener("click", function(event) {
    var result = confirm("Are you sure you want delete?");
    if (result) {
        alert('Deleted successfully');
    } else {
        alert('Deletion Cancelled');
        event.preventDefault(); // prevent default form submission
    }
    });

    deleteForm.addEventListener("submit", function(event) {
    {% comment %} event.preventDefault(); // prevent default form submission {% endcomment %}
    });
 
                
</script>
  
{% endblock body %}
    
    