{% extends 'employee_base/base_employee.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Assigned Task</h6>
    <div class="col-lg-12 mb-4">
      <form class="d-flex">
        <div class="row">
            <div class="col ">
                {{assigned_task.form.task_of | add_class:"form-control" }}
            </div>
            <div class="col mb-3">
                <button class="btn btn-primary ms-2" type="submit">Search</button>
            </div>
        </div>
        
       
      </form>
    </div>
    
    <table class="table table table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Task ID</th>
              <th scope="col">Task Name</th>
              <th scope="col">Assigned By</th>
              <th scope="col">Completation Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if assigned_task %} 
                {% for task in assigned_task.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{task.task_of.task_id}} </td>
                    <td> {{task.task_of.heading}} </td>
                    <td>{{task.assigned_by.profile.first_name}} {{task.assigned_by.profile.last_name}}</td>
                    <td> {% if task.completion_status %}
                            Done
                        {% else %}
                            Pending
                        {% endif %} 
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'employee:assigned_task_detaisl' task.id %}" role="button">View</a>
                        <a class="btn btn-primary" href="{% url 'employee:task_feedback' task.id %}" role="button">Feedback</a>
                        <a class="btn btn-success" href="{% url 'authority:delete_assigned_task' task.id %}" role="button">Report Complete</a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}
            </tbody>      
      </table>
</div>
{% endblock body %}
    